<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Dbconnectstring>Data Source=www.968ch.com,20083;User ID=968card;Password=asc123,?;Initial Catalog=UserCenter;Pooling=true</Dbconnectstring>
	<Dbconnectstring1>Data Source=www.968ch.com,20083;User ID=968card;Password=asc123,?;Initial Catalog=CamelMediaPlan;Pooling=true</Dbconnectstring1>
	<Dbconnectstring2>Data Source=www.968ch.com,20083;User ID=968card;Password=asc123,?;Initial Catalog=968Card;Pooling=true</Dbconnectstring2>
	<Dbconnectstring3>Data Source=www.968ch.com,20083;User ID=968card;Password=asc123,?;Initial Catalog=UserCenter;Pooling=true</Dbconnectstring3>
	<MallConnect>Data Source=www.968ch.com,20083;User ID=dsc;Password=dsc2015asc.;Initial Catalog=dismall;Pooling=true</MallConnect>
	<EncryptKey>968ch</EncryptKey>
	<Domain>968ch.net</Domain>
	<Tableprefix>yx_</Tableprefix>
	<Forumpath>/</Forumpath>
	<Founderuid>0</Founderuid>
	<Dbtype>SqlServer</Dbtype>
	<TempDir>TempFiles</TempDir>
	<MaxRequestSize>1024000</MaxRequestSize>
	<BufferSize>128</BufferSize>
	<OrderPrefix>QR</OrderPrefix>
</BaseConfigInfo>